/*-- scss:defaults --*/
// Base document colors
$body-bg: #181818;
$body-color: white;
$link-color: #75AADB;

// Code blocks
$code-block-bg-alpha: -.8;

/*-- scss:defaults --*/
$col3: #002b36;
$col2: #073642;
$col1: #586e75;